name: Merge to main
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
permissions:
  contents: write
  issues: write
  pull-requests: write
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory: [components]
    defaults:
      run:
        working-directory: ${{ matrix.working-directory }}
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: extractions/setup-just@v3
      - run: just test
  release:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.INFRA_REPO_TOKEN }}
          release-type: python
          package-name: components
