name: Pull request

on:
  pull_request:
    types: [labeled, opened, synchronize]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge-release-notes-pr:
    runs-on: ubuntu-latest
    if: |
      contains(github.event.pull_request.labels.*.name, 'autorelease: pending')
    steps:
      - uses: actions/checkout@v5
      - run: gh pr merge ${{ github.event.pull_request.number }} --squash --auto
        env:
          GITHUB_TOKEN: ${{ secrets.INFRA_REPO_TOKEN }}

  code-quality:
    permissions:
      # For trunk to post annotations
      checks: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --all-packages
      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
        with:
          arguments: --ci

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory: [components]
    defaults:
      run:
        working-directory: ${{ matrix.working-directory }}
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: extractions/setup-just@v3
      - name: Sync workspace (incl. dev deps)
        working-directory: .
        run: uv sync --project ${{ matrix.working-directory }} --group dev
      - run: just test
